@inherits LayoutComponentBase
@using TrainingCenterUI.Services
@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.Initialize();
        var token = await AuthenticationService.GetTokenAsync(); // Retrieve the token from local storage
        if (!AuthenticationService.IsAuthenticated || AuthenticationService.IsTokenExpired(token))
        {
            await Logout();
        }
    }

    private async Task Logout()
    {
        await AuthenticationService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
